h1{
    font-size: 3rem;
    font-weight: 900;

}
body{
    
    margin-left: 100px;
    background: url(./IN-en-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-blend-mode: darken;
}
.netflix{
    margin-top: 200px;
    width: 100%;
    height: 100%;
    align-items: center ;
    text-align: center;
    color: white;
    
}
p{
    font-size: 1.5rem;
    font-weight: 400;
}
button{
    background-color: red;
}
input{
    background-color: rgba(0,0,0,80%);
    box-sizing: border-box;
    padding-right: 10%;
}